name: CI Backend RelaxTotal

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: Centro-de-masajes-Relax-Relax-main/backend/centromasajes

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Make Maven Wrapper executable
        run: chmod +x mvnw

      - name: Compile project
        run: ./mvnw clean compile


  test:
    name: Test
    runs-on: ubuntu-latest
    needs: build
    defaults:
      run:
        working-directory: Centro-de-masajes-Relax-Relax-main/backend/centromasajes

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - run: chmod +x mvnw

      - name: Run tests with coverage
        run: ./mvnw test


  quality:
    name: Sonar Analysis
    runs-on: ubuntu-latest
    needs: test
    defaults:
      run:
        working-directory: Centro-de-masajes-Relax-Relax-main/backend/centromasajes

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Cache Sonar packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - run: chmod +x mvnw

      - name: Run Sonar Analysis
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          ./mvnw -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
          -Dsonar.projectKey=josejr20_RelaxTotalServer_AZyXhVvzan01mIuXPJ9I
          -Dsonar.host.url=${SONAR_HOST_URL}
          -Dsonar.login=${SONAR_TOKEN}


  package:
    name: Package
    runs-on: ubuntu-latest
    needs: quality
    defaults:
      run:
        working-directory: Centro-de-masajes-Relax-Relax-main/backend/centromasajes

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - run: chmod +x mvnw

      - name: Generate JAR
        run: ./mvnw package

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: centromasajes-build
          path: Centro-de-masajes-Relax-Relax-main/backend/centromasajes/target/*.jar